.review-container{
	padding: 0.5rem;
	border: 1px solid var(--mantine-color-secondary-0);
	border-top: none;
	border-bottom-right-radius: 15px;

	display: flex;
	flex-direction: column;
	background-color: var(--mantine-color-primary-8);
	color: var(--mantine-color-text-5)
}

.review-header{
	font-size: 1.15rem;
	padding: 0 1rem;
	background-color: var(--mantine-color-primary-9);
	border-top-left-radius: 15px;

	border: 1px solid var(--mantine-color-secondary-0);
	border-bottom: none;
}

.review-metadata-container{
	display: flex;
	flex-direction: row;
	gap: 0.2rem;
	align-items: center;
	margin-bottom: 8px;
}

.vertical-seperator{
	font-size: 2rem;
	font-weight: bold;
}

.review-comment-link{
	display: flex;
	align-content: center;
	justify-content: space-between;
	gap: 5px;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	font-size: 1.2rem;
}

.review-comment-link:hover{
	cursor: pointer;
	transition: 0.1s;
}

.review-comment-link:active{
	cursor: pointer;
	transition: 0.1s;
}


.review-description{
	color: var(--mantine-color-text-2);
}
