.review-container{
	border-radius: 15px;
	border: 1px solid red;
	padding: 0.5rem;

	display: flex;
	flex-direction: column;
}

.review-container * {
	/* border: 1px solid pink; */
}

.review-container{
	border: 1px solid lightblue;
}

.review-header{
	font-size: 1.15rem;
	background-color: lightgrey;
}

.review-metadata-container{
	display: flex;
	flex-direction: row;
	gap: 0.2rem;
	align-items: center;
	margin-bottom: 8px;
}

.vertical-seperator{
	font-size: 2rem;
	font-weight: bold;
}
