.book-container{
	display: flex;
	flex-direction: row;
	padding: 1rem 1rem;
	justify-content: space-between;
}

.book-info-item{
	margin: 1rem 0;
	border: 1px solid red;
}

.book-info-subheader{
	margin: 0;
	font-size: 0.75rem;
	border: 1px solid red;
}

.book-title{
	margin: 0;
	border: 1px solid red;
}

.book-info-img{
	display: flex;
	align-items: center;
}

.book-info-review-aggregate{
	background-color: lightgreen;
}
