.app{
	background-color: var(--mantine-color-primary-0);
	width: 95%;
	min-height: 80vh;
	margin: 0 auto;
	padding: 0 0.25rem 0.25rem 0.25rem;
}

* {
	color: var(--mantine-color-text-0);
}

.app-container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
