.book-tile-container {
	padding: 1.5rem;

	display: flex;
	flex-direction: row;
	gap: 1rem;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;


	border-radius: 1rem;
	background-color: var(--mantine-color-primary-9);
	border: 1px solid var(--mantine-color-elevate-9);
	box-shadow: var(--mantine-color-elevate-3) 0px 0px 8px;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

}

.select-cursor:hover {
	/* box-shadow: var(--mantine-color-tertiary-1) 0px 3px 5px 1px, var(--mantine-color-tertiary-1) 0px 3px 7px 3px; */
	transition: 0.2s;
	background-color: var(--mantine-color-elevate-2);
	box-shadow: var(--mantine-color-elevate-0) 0px 0px 15px;
}

.select-cursor:active {
	box-shadow: var(--mantine-color-tertiary-5) 0px 3px 12px -2px,  var(--mantine-color-secondary-0) 0px 3px 7px -3px;
	border: 1px solid var(--mantine-color-tertiary-5);
	transition: 0.2s;
}

.select-cursor {
	cursor: pointer;
}


.book-tile-title {
	font-weight: bold;
	font-size: 1.2rem;
	margin: 5px 0;
}

.book-tile-author {
	font-weight: light;
	font-size: 0.9rem;
}

.book-tile-published {
	font-size: 0.9rem;
}
