.book-info-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 4vw;
}

.book-info-item{
	margin: 1rem 0;
}

.book-info-subheader{
	margin: 0;
	font-size: 0.75rem;
}

.book-title{
	margin: 0;
}

.book-info-img{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.book-info-actions-container{
	width: 100%;
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.book-info-actions-container Button{
	margin-bottom: 0.4rem;
	background-color: rgb(20, 10, 10, 0.9);
	font-size: 0.8rem;
}

.book-info-review-aggregate{
	margin-top: 3rem;
	padding: 0.8rem 3rem;
	background-color: #669966;
	display: inline-block;

	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top: 5px solid darkgreen;
}

.readlist-stats{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.readlist-stats-item{
	display: flex;
	flex-direction: column;
	align-items: center;
}
