.navbar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 1rem;
	margin: 0 auto;
	background-color: black;
	color: white;

	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
}

.navbar-title {
	font-size: 1.4rem;
	/* font-weight: bold; */

	color: white;
	text-decoration: none;
}

.navbar-btns {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.navbar-btn .root {
	color: purple;
}
