.navbar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 1rem;
	margin: 20px auto;
	background-color: var(--mantine-color-secondary-9);
	color: var(--mantine-color-text-0);
}

.navbar-title {
	font-size: 1.5rem;
	font-weight: bold;

	color: var(--mantine-color-text-0);
	text-decoration: none;
}

.icon {
	padding: 0 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
}

.icon:hover {
	transition: 0.25s ease-in-out;
	background-color: var(--mantine-color-secondary-8);
	border-radius: 1rem;
}

.icon:active {
	transition: 0.08s ease-in-out;
	background-color: var(--mantine-color-secondary-7);
	border-radius: 0.5rem;
}

.navbar-btns {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.navbar-btn {
	border-radius: 15px;
	border: 2px solid var(--mantine-color-tertiary-5);
	background-color: var(--mantine-color-primary-0);
}

.navbar-btn .root {
	color: var(--mantine-color-text-0);
}
