.comments-container{
	margin-top: 2rem;
	border: 1px solid green;
}

.comment-container{
	width: 65vw;
	margin: 0 auto;
	padding: 0.5rem;
}

.comment-separator{
	width: 100%;
	height: 0.3rem;
	background: #111144;

	margin: 0.1rem 0;
}
