.single-comment-container{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0.5rem;
}

.single-comment-container:hover{
	background-color: #efe;
	transition: 0.1s;
}

.comment-content-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.comment-username{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	width: 25%;
}

.owner{
	font-weight: bold;
}

.comment-content{
	display: flex;
	flex-direction: column;
	width: 70%;
}


.comment-actions-container{
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	padding-left: 10px;
	align-items: center;
	justify-content: space-between;
}

.comment-timestamp{
	font-size: 0.8rem;
	text-decoration: italic;
}
