.books-container {
	padding: 2rem;

	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	background-color: var(--mantine-color-primary-0)
}


.books-filters-container {
	width: 70%;
	padding: 1rem;
	min-width: 15rem;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}


.books-search-container {
	display: flex;
	flex-direction: row;
	gap: 1.3rem;
}


.books-filters-select-container {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	justify-content: flex-start;
}


.books-list-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.pagination-container{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}


.search-button{
	cursor: pointer;
}
