.books-container {
	padding: 2rem;

	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	background-color: var(--mantine-color-primary-0)
}


.books-filters-container {
	width: 40%;
	padding: 1rem;
	min-width: 15rem;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}


.books-filters-select-container {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	justify-content: flex-start;
}


.books-list-container {
	display: grid; /* 1 */
	grid-template-columns: repeat(auto-fill, 15rem); /* 2 */
	grid-gap: 3rem; /* 3 */
	justify-content: space-between; /* 4 */
}

.pagination-container{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}

