.books-container {
	padding: 1rem;
	border: 1px solid blue;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}


.books-filters-container {
	border: 1px solid red;
}


.books-list-container {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	gap: 1rem;
}

.book-tile {
	width: 15rem;
}
