.readlist-item-container{
	max-height: 200px;
	padding: 1rem;
	background-color: #fff;
	border-radius: 15px;
}

.readlist-item-header-container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
}


.readlist-item-body-container{
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-top: 0.75rem;
}

.readlist-status{
	width: 8rem;
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 3px 10px;
}

.readlist-status:hover{
	background-color: #eee;
	transition: 0.3s;
}

.title{
	font-size: 1.1rem;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
}

.title:hover{
	color: white;
	background-color: black;
	transition: 0.1s;
}
