.title-container {
	text-align: center;
	padding: 5rem 0;
}

.dashboard-title {
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.dashboard-data-columns {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	align-items: space-around;
}

.data-column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.book-data-column {
	width: 60%;
}


.data-column-title {
	color: var(--mantine-color-text-3);
	cursor: default;
}

.data-column-title:hover{
	transition: 0.3s ease-in;
	color: var(--mantine-color-text-4);
}
