.container {
	width: 70vw;
	max-width: 750px;
	margin: 20vh auto;
	padding: 4rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header {
	font-size: 2rem;
	color: #222;
	margin-bottom: 1rem;
}

.form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vh;
	width: 80%;
}

.form-input {
	width: 75%;
}

.form-input input {
	width: 100%;
}

.name-input {
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2vw;
}

.switch-page-text {
	margin-top: 2rem;
	font-size: 0.75rem;
}
